#portfoliosite {
  background-image: url("../img/Portfolio.png");
}
#parmigianopiccolo {
  background-image: url("../img/ParPic.png");
}
#HSEportfolio {
  background-image: url("../img/HSE.png");
}
#HM2D {
  background-image: url("../img/HotelMania2D.png");
}
#DangMail {
  background-image: url("../img/DangMail.png");
}
#GCoin {
  background-image: url("../img/GCoin.png");
}
#behance {
  background-image: url("../img/behance.png");
}
